
.notisContainerBox{
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.notisContainerBox .notisContainer{
  width: 95%;
  margin: auto;
}
.noticePart p,
.newsPart p{
    margin-bottom: 0;
    font-size: 25px;
    color: #0089CF;
}
.newsSlider div div div div div{
    margin: 0 10px;
  }
.card-carousel .slick-slider .slick-track{
    margin-bottom: 25px;
}
  
  .card {
    height: 250px;
    margin: 0 10px; 
  }
  
  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card img {
    max-width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .card .cardCarusalText {
    margin: 10px 0; 
    color: black;
    font-size: 20px;
    padding: 0px 5px;
  }
  .card .cardCarusalText {
    margin: 10px 0; 
    color: black;
    font-size: 20px;
    padding: 0px 5px;
  }
  .card .cardCarusalDate {
    color: black;
    font-size: 12px;
    margin-left: 0;
  }
  
  .noticePart button {
    border: none;
    background-color: white;
    color: #FFB606;
    font-weight: 500;
    padding: 8px;
  }
  .noticePart .btnActive{
    background-color: #FFB606;
    color: white;
  }
  .allNotice{
    border: 1px solid gray;
    /* width: 89%; */
  }
  .allNotice .singleNotice{
    border-bottom: 1px solid gray;
    padding: 5px 20px;
  }
  .allNotice .singleNotice a{
    text-decoration: none;
    color: #0089CF;
    font-size: 17px;
  }
  .allNotice .singleNotice p{
    color: gray;
    font-size: 13px;
  }
  .allNotice .viewAllBtn{
    text-decoration: none;
    font-size: 10px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .slick-dots li button:before{
    font-size: 10px!important;
  }
  @media (max-width: 768px) {
    .newsSlider div div div div div{
      margin: 0 0;
    }
    .card .cardCarusalText,
    .card .cardCarusalDate{
      margin: 10px 10px;
    }
    .newsPart{
      margin-bottom: 4rem;
    }
  }