.singleUni{
    display: inline-block;
    width: 110px;
    height: 110px;
    border: 1px solid #FFB606;
    margin: 5px;
}
.singleUni a{
    display: inline-block;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
}
.singleUni a img{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .singleUni{
        width: 114px;
        height: 114px;
    }
  }