.nav-menue{
    padding-left: 0px;
    padding-bottom: 0px;
    border-bottom: 4px solid #FFB606;
}
.nav-menue div{
    background-color: #0089CF;
    /* padding: 10px 30px; */
}
.nav-menue div .toggleButton{
    margin: 10px 0;
    border: 3px solid #FFB606;
}
.nav-menue div .nab-option {
    padding-top: 0px;
    padding-bottom: 0px;
}
/* .nav-menue div a, */
.nav-menue div .nab-option ul li a{
    padding: 15px 8px;
    color: white!important;
}
.nav-menue div a {
    color: white!important;
}
.nav-menue div .nab-option ul li a:hover{
    background-color: #FFB606;
}
.nav-menue div .nab-option ul li .navActive{
    background-color: #FFB606;
}